.titulo{
    text-align: center;
}

.col{
    text-align: center;
}

.row{
    padding: 15px;
    margin:0px;
    
}
    
.menu{
    background-image: linear-gradient(-85deg,#ff6026 0%,#ffe800 100%);
    color: black;
}

.dados{
    margin-bottom: 30px;
    text-align: center;
}

.dados table{
    width: 100%;
}

.dados thead{
    background-image: linear-gradient(-85deg,#ff6026 0%,#ffe800 100%);
}

.dados tbody{
    background-color: lightgray;
}

#btnRVendas{
    background-color: #ff6026;
    color: black;
    padding: 10px;
    border-radius: 25px;
}