* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo para o cabeçalho */
header {
    background-image: linear-gradient(-85deg, #ff6026 0%, #ffe800 100%);
    z-index: 1000;
    padding: 10px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    font-weight: bold;
}

/* Estilo para a logo */
.logo {
    width: 100px;
}

/* Estilo para os botões */
.buttons {
    display: flex;
}

.buttons a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.4s;
}

.buttons a:hover {

    color: #fff;
}

.conteudo {
    flex: 1;
    padding: 20px;
    text-align: center;
}

footer {
    background-image: linear-gradient(-85deg, #ff6026 0%, #ffe800 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
}


/* ESTILO TELA PRODUTOS*/

.bg {

    background-color: #eeeeee;

}

.conteudo h1 {

    font-weight: bold;

}


.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 110%;
    height: 110%;
}

.produto {
    position: relative;
    overflow: hidden;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 0px;
    padding-top: 5px;
    text-align: center;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 0px 5px rgba(128, 127, 127, 0.7);
    font-family: 'Poppins', sans-serif;
}

.detalhesProdutos {


    text-decoration: none;
    font-style: none;
    color: #000000;

}

.detalhesProdutos:hover {


    text-decoration: none;
    color: #000;
}

.produto-footer {

    margin-top: 10px;
    text-align: center;
    background-color: #000000;
    text-decoration: none;

}

.produto-footer a {


    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-weight: 600;

}

.produto-footer a:hover {

    color: #ff6026;
}

.produto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.descricao {

    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.valor {

    font-weight: bolder;
    padding: 0;
    margin: 0;
    color: #ff6026;

}

.condicao {

    font-size: small;

}


/* Menu Produtos */

.menuProdutos {

    background-color: white;
    padding: 0;
    width: 500px;
    margin-left: 85px;

}

.menuProdutos select {

    font-size: large;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(189, 188, 188, 0.7);

}


.botaoProduto {

    margin-right: 15px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    padding-bottom: 0;

}

.carregamento {

    margin-right: 0px;
    margin-left: 600px;
    margin-bottom: 10px;
    margin-top: 10px;
}


/* hover produtos */

.produto:hover {

    transform: scale3d(1.1, 1.1, 1);
    text-decoration: none;
}

/* Parte do Gabriel Fernandes*/
/*TELA DETALHE PRODUTOS*/
.bg2{
    background-color: #eeeeee;
    padding-bottom: 20%;
    
}

.conjuntoprodutodescricao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 1px black;
    width: 100%;
    margin: 0 auto;
    background-color: #eeeeee;
    border-radius: 5px;
}

/*carrosel com imagens do produto*/
.dproduto {
    position: relative;
    overflow: hidden;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 50px;
    margin-right: 20px;
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 5px rgba(128, 127, 127, 0.7);
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 86%;
    margin: 30px;
}

/* quantidade, nome, preço*/
.descricaodoproduto {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: x-large;

}

.valordetalhe {

    color: #ff6026;
    font-weight: bolder;
    font-size: 150%;
    margin-bottom: 0px;
}

.condicaodetalhe {
    font-size: small;
}

.quantidade{
    width: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(128, 127, 127, 0.7);
}

/*descrição do produto*/
.descricao2{
    width: 86%;

    margin-left: 5%;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.explicacaoproduto {

    margin-top: 30px;
    margin-bottom: 30px;
    font-size: medium;
}

/*carrosel de produtos recomendados*/

.dproduto2{
    position: relative;
    overflow: hidden;
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 50px;
    margin-right: 20px;
    width: 500px;
    height: 800px;
    box-shadow: 0px 0px 5px rgba(128, 127, 127, 0.7);
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    text-align: justify;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 86%;
    margin: 30px;

}

.dproduto img {


    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card{
    width: 90%;
    height: 20%; 
    padding: 10%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    margin: 0 auto;  
}

div.card > img{
    display: block;
    border-radius: 4px;
}

/* Botao comprar*/
.comprarDescricao {

    margin-top: 80px;
    text-align: center;
    background-color: #000000;
    text-decoration: none;
    border-radius: 8px;

}

.comprarDescricao a {

    color: #fff;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
}

.comprarDescricao a:hover {

    color: #ff6026;
}
/* Media queries para tornar a página responsiva */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .buttons {
        margin-top: 10px;
    }

    .produto {

        width: 100%;
    }

    .conjuntoprodutodescricao {

        display: inline-block;
    }

    .dproduto {

        width: 100%;

    }
    .conjuntoprodutodescricao {
        margin-left: 4%;
    }
}

/* Fim da parte doParte do Gabriel Fernandes*/

/* tela pagamento parte Pedro*/

.payment{
    margin: 0px 20%;
    margin-bottom: 20px;
}

#final h2{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.endereco input{
    color: black;
    font-weight: bold;
}

.cartao input{
    color: black;
    font-weight: bold;
}

.endereco{
    align-items: center;
    justify-items: center;
    justify-content: left;
    align-content: center;
    padding: 0px 20%;
    margin-bottom: 30px;
}

.cartao{
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    padding: 0px 20%;
}

#botaofim {
    background-color: whitesmoke !important;
}

/* fim da parte Pedro*/

/* Parte do Alexsander */

#botaoComprar{
    width: 600px;
    color: white;
    background-color: black;
}

/* Fim parte do Alexsander */