@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
    /*Resetar todas as configurações de navegadores ex. tirar bordas e margens*/
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
  }
/* Estilo para o cabeçalho */
header {
    background-image: linear-gradient(-85deg,#ff6026 0%,#ffe800 100%);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo para a logo */
.logo {
    width: 100px;
}
.topo{
    height: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    

}

/* Estilo para os botões */
.buttons {
    display: flex;
}

.buttons a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.4s;
}

.buttons a:hover {
    
    color: #fff;
}
.conteudo {
    flex: 1;
    padding: 10px;
  }
footer {
    background-image: linear-gradient(-85deg,#ff6026 0%,#ffe800 100%);
    color:#fff;
    padding: 20px;
    text-align: center;
    
}

.btn {
    width: 200px;
    background-color: #f09731;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}
.modal_login{
  margin: 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 25px;
}
.form-modal{
 align-items: center;
  margin: 10px;
  display: inline-block;
  padding: 10px;
}
.modal-footer{
   align-items: center;
  margin: 5px;
  display: inline-block;
  padding: 10px ;

}
.btn:hover {
    background-color: #ff6026;
}
/*Configurações cards menu iniciar*/
.selecao .card{
    width: 1120px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: inline-block;

}
.selecao .card{
    position: relative;
    padding: 10px;
    width: 240px;
    height:400px;
    background-color: #fff;
    margin: 10px;
    border: 4px solid black;
    border-radius: 40px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
}
.selecao.card .img{
    transition: 0.5s;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 0.5px;
    
}
.selecao .card .h2{
    font-size: 2rem;
}

.selecao .card .content{
    padding: 10px;
    text-align: center;
}
.selecao .card .content p{
    color:#ff6026;
    display: inline-block;
    padding: 10px 20px;
    color:black;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 20px;
}
.selecao .card .content a{
    color:black;
}
.selecao .card:hover{
    background-color: #ff6026;
    color: #fff;
    margin-top: -30px;
    box-shadow: 2px 8px 15px #ffa888;
    border-color: black;
}
.selecao .card:hover img{
    filter: invert(1);
}
.selecao .card:hover .content p{
    color:white;
}

.selecao .card:hover .content a{
    color:white;
   
}

/* Media queries para tornar o cabeçalho responsivo */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .buttons {
        margin-top: 10px;
    }
}